.navbarMainDiv {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0px 20px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
}
.navbarIcon {
  display: none;
}
.navbarOuterImage {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbarInnerImage {
  width: 150px;
  height: 30px;
  font-size: 0px;
}
.navbarRightIcon {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarOptionsOuter {
  width: calc(100% - 300px);
  height: 100%;
}
.navbarOptionsMiddle {
  height: 100%;
  width: 100%;
  display: flex;
}
.navbarOptionsInner {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarOptions {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  transition: left linear 0.25s, right linear 0.25s;
  z-index: 1;
}
.navbarOptionsClose {
  width: 100%;
  height: 80px;
  padding-right: 10px;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
}
.navbarOptionsCloseInner {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbaroptionsCloseDiv {
  height: calc(100vh - 80px);
  width: 100%;
}
.navbarSignIn {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarSignInButton {
  padding: 10px 20px;
  border: 2px solid #ff7b7b;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
.navbarSignInLink {
  color: #ff7b7b;
  text-decoration: none;
}
.navbarNavLink {
  text-decoration: none;
  color: black;
}
.active {
  color: #ff7b7b;
}
.navbarIconcolor {
  color: #ff7b7b;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbarMainDiv {
    padding: 0px 10px;
  }
  .navbarIcon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbarOuterImage {
    width: 150px;
    justify-content: center;
  }
  .navbarOptionsMiddle {
    display: none;
  }
  .navbarOptions {
    display: block;
  }
  .navbarOptionsInner {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbarPara {
    font-size: 14px;
  }
  .navbarSignInButton {
    font-size: 14px;
    padding: 4px 9px;
  }
}
@media screen and (max-width: 600px) {
  .navbarPara {
    font-size: 12px;
  }
  .navbarSignInButton {
    font-size: 12px;
  }
}
