* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: #c6c6c6;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff7a7a;
}

#alert{
  background-color: #ff7a7a;
}